html{
    background-color: #121212;
    color:#cccc00;
}

#top-nav{
	background-color: #e6e600;
	clear:both;
}

header a{
    color:black;
}

#item-list a{
    color: black;
}

#item-list a:hover{
    color: rgb(107, 107, 107);
}

.navbar-brand h1{
	margin: 0px;
    width: fit-content;
}

.navbar-header button{
	margin-top: 17px;
}

#nav-list {
    padding: 7.5px;
    color: black;
    text-align: center;
    font-size: 1.5em;
    width: fit-content;
    margin: 0 auto;
}

/* #item-list li{
	text-align: center;
    background-color: #cccc00;
    margin: 5px;
} */

.login {
    position: absolute;
    left: 82%;
    top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

.login:hover{
    background-color: #121212;
}

.login a:hover{
    color: #e6e600;
    text-decoration: none;
}

.signup {
    position: absolute;
    left: 90%;
    top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

.signup:hover{
    background-color: #121212;
}

.signup a:hover{
    color: #e6e600;
    text-decoration: none;
}

#phone-login a{
    font-weight: bold;
}

#phone-signup a{
    font-weight: bold;
}

#phone-login:hover{
    background-color: #121212;
}

#phone-login a:hover{
    color: #e6e600;
    text-decoration: none;
}


#phone-signup:hover{
    background-color: #121212;
}

#phone-signup a:hover{
    color: #e6e600;
    text-decoration: none;
}

@media (max-width: 768px) {
    .img1 {
        width: 150px;
        height: 30px;
        margin-left: -15px;
    }

    .login{
        display: none;
    }

    .signup{
        display: none;
    }
}

@media (min-width: 768px) {
    #top-nav{
		height: 4.3em;
	}

    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        left: 75%;
    }

    .signup{
        left: 85%;
    }
    
}

@media (min-width: 992px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        left: 80%;
    }

    .signup{
        left: 90%;
    }
}
}

@media (min-width: 1200px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        left: 80%;
    }

    .signup{
        left: 90%;
    }
}
