#top-nav{
	background-color: #e6e600;
	clear:both;
}

header a{
    color:black;
}

#item-list a{
    color: black;
}

#item-list a:hover{
    color: rgb(107, 107, 107);
}

.navbar-brand h1{
	margin: 0px;
    width: fit-content;
}

.navbar-header button{
	margin-top: 17px;
}

#nav-list {
    padding: 7.5px;
    color: black;
    text-align: center;
    font-size: 1.5em;
    width: fit-content;
    margin: 0 auto;
}

/* #item-list li{
	text-align: center;
    background-color: #cccc00;
    margin: 5px;
} */

.login {
    position: absolute;
    left: 82%;
    top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    border: 3px solid #121212;
    border-radius: 5px;
}

.login:hover{
    background-color: #121212;
    border-radius: 5px;
}

.login a:hover{
    color: #e6e600;
    text-decoration: none;
}

.signup {
    position: absolute;
    left: 90%;
    top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    border: 3px solid #121212;
    border-radius: 5px;
}

.signup:hover{
    background-color: #121212;
    border-radius: 5px;
}

.signup a:hover{
    color: #e6e600;
    text-decoration: none;
}

#phone-login a{
    font-weight: bold;
}

#phone-signup a{
    font-weight: bold;
}

#phone-login:hover{
    background-color: #121212;
}

#phone-login a:hover{
    color: #e6e600;
    text-decoration: none;
}


#phone-signup:hover{
    background-color: #121212;
}

#phone-signup a:hover{
    color: #e6e600;
    text-decoration: none;
}

#box{
    position: relative;
	background-color: #e6e600;
	width: 500px;
    height: auto; 
    min-height: 400px;
    margin: 0 auto;
    margin-top: 150px;
	padding: 30px;
	overflow: auto;
}

.container-fluid{
    background-color: #121212;
}

.edit-button{
    background-color: #121212;
    color: #e6e600;
    border: 3px solid #e6e600;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}

.edit-button:hover{
    background-color: #e6e600;
    color: #121212;
}

.save-button{
    position: relative;
    background-color: #121212;
    color: #e6e600;
    border: 3px solid #e6e600;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}

.save-button:hover{
    background-color: #e6e600;
    color: #121212;
}

.left-arrow{
    position: absolute;
    background-color: #121212;
    color: #e6e600;
    border: 3px solid #e6e600;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 1.5em;
}

.left-arrow:hover{
    background-color: #e6e600;
    color: #121212;
}

.right-arrow{
    position: absolute;
    background-color: #121212;
    color: #e6e600;
    border: 3px solid #e6e600;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 1.5em;
}

.right-arrow:hover{
    background-color: #e6e600;
    color: #121212;
}

@media (max-width: 204px){
    .edit-button{
        margin-top: 100px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    } 

    .left-arrow{        
        top: 400px;
        left: 5%;
    }

    .right-arrow{
        top: 400px;
        right: 5%;
    }
}

@media (min-width: 204px){
    .edit-button{
        margin-top: 100px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    } 

    .left-arrow{        
        top: 350px;
        left: 5%;
    }

    .right-arrow{
        top: 350px;
        right: 5%;
    }
}

@media (min-width: 225px){
    .edit-button{
        margin-top: 100px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    } 

    .left-arrow{        
        top: 350px;
        left: 25%;
    }

    .right-arrow{
        top: 350px;
        right: 25%;
    }
}

@media (max-width: 550px) {
    .img1 {
        width: 130px;
        height: 30px;
        margin-left: -15px;
    }

    .login{
        display: none;
    }

    .signup{
        display: none;
    }

    #box{
        display: block;
        width: 70vw;
        height: auto; 
        min-height:200px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: auto;
        margin-top: 50px;
    }
}

@media (min-width: 550px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        display: none;
    }

    .signup{
        display: none;
    }

    #box{
        margin-top: 80px;
    }

    .edit-button{
        margin-top: 100px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }
    
    .left-arrow{        
        top: 590px;
        left: 35%;
    }

    .right-arrow{
        top: 590px;
        right: 35%;
    }
    
}

@media (min-width: 768px) {
    #top-nav{
		height: 4.3em;
	}

    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        left: 75%;
        display: inherit;
    }

    .signup{
        left: 85%;
        display: inherit;
    }

    #box{
        margin-top: 80px;
    }

    .edit-button{
        margin-top: 30px;
        margin-left: 37.5%;
        margin-right: 37.5%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 37.5%;
        margin-right: 37.5%;
    } 

    .left-arrow{        
        top: 330px;
        left: 8%;
    }

    .right-arrow{
        top: 330px;
        right: 8%;
    }   
}

@media (min-width: 992px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        left: 80%;
    }

    .signup{
        left: 90%;
    }

    #box{
        margin-top: 80px;
    }
    
    .edit-button{
        margin-top: 30px;
        margin-left: 40vw;
        margin-right: 0;
    }

    .save-button{
        float: right;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 40vw;
    }

    .left-arrow{        
        top: 330px;
        left: 15%;
    }

    .right-arrow{
        top: 330px;
        right: 15%;
    }
}


@media (min-width: 1200px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        left: 80%;
    }

    .signup{
        left: 90%;
    }

    .edit-button{
        margin-top: 30px;
        margin-left: 40vw;
        margin-right: 0;
    }

    .save-button{
        float: right;
        margin-top: 30px;
        margin-right: 40vw;
        margin-left: 0;
    }

    .left-arrow{        
        top: 330px;
        left: 22%;
    }

    .right-arrow{
        top: 330px;
        right: 22%;
    }
}
